<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Bootstrap CSS -->
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
  />  
  <title>Register Here!</title>
</head>
<body>
  <%- include("partials/_header")%>

  <main style="margin: 1em;">
    <h3>Create Account</h3>
    <form method="POST" action="/register">
      <label for="email-input">Email</label>
      <br/>
      <input id="email-input" type="email" name="email" placeholder="Enter Email">
      <br/>
      <label for="password-input">Password</label>
      <br/>
      <input id="password-input" type="password" name="password" placeholder="Password">
      <br/>
      <br/>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </main>
</body>
</html>